Lesson 5: Numpy and Pandas Introduction
- Numpy arrays
- Pandas Series and DataFrames
- Basic operations



üß∞ Topics Covered:

    NumPy Arrays:

        Creation of arrays with np.array().

        Element-wise operations (e.g., arr * 2 for vectorized multiplication).

    Pandas:

        Series: One-dimensional labeled arrays.

        DataFrames: Tabular data structures created from dictionaries.

        CSV Handling: Loading data using pd.read_csv() and previewing with .head().

üß™ Key Concepts:

    Efficient numerical computation with NumPy.

    Basic data analysis and tabular manipulation with Pandas.

    Understanding the structure and power of Series and DataFrames.

In [1]:
import numpy as np
import pandas as pd

üî¢ Numpy Arrays

In [2]:

arr = np.array([1, 2, 3])
print(arr * 2)

[2 4 6]

 üìä Pandas Series

In [3]:
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
print(s)

a    10
b    20
c    30
dtype: int64

üìã DataFrame from Dictionary

In [4]:
data = {
    "name": ["Alice", "Bob"],
    "age": [25, 30]
}

df = pd.DataFrame(data)
print(df)

    name  age
0  Alice   25
1    Bob   30

üìÅ Load CSV

In [ ]:
df = pd.read_csv("data.csv")
df.head()